@import url(bootstrap.min.css);
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 7, ../sass/main.scss */
body {
  background: url("../img/paper.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* line 11, ../sass/main.scss */
h2 {
  font-weight: normal;
}

/* line 13, ../sass/main.scss */
header {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-family: helvetica,sans-serif;
}

/* line 20, ../sass/main.scss */
footer {
  text-align: center;
  margin-top: 40px;
}

/* line 22, ../sass/main.scss */
footer a {
  color: black;
  margin: 3px;
}

/* line 23, ../sass/main.scss */
footer a:hover {
  text-decoration: none;
}

/* line 24, ../sass/main.scss */
#g_icon:hover {
  color: #f93333;
}

/* line 25, ../sass/main.scss */
#t_icon:hover {
  color: #4283fc;
}

/* line 26, ../sass/main.scss */
#e_icon:hover {
  color: #ffe334;
}
