
@import "compass/reset";

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

img {display:none;}
header.front_theme {display:none;}
.hidden-xs {display:none !important;}

h1,h2,h3,h4,h5 {margin:5px 0px; font-weight: 500;}
h1 {font-size:2em; padding:0px 0px 10px;}
h2 {font-size:1.2em;}
p {padding:10px 0px;}
footer {display:none;}
