<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        {% if page.custom_css %}
        <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/css/{{ page.custom_css }}' />
        {% endif %}


    </head>
    <body>
        <header class="header_theme">
          <div class="container">
            <div class="row">

              <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="/"><img src="{{ site.baseurl }}/img/brand.png" alt="" id="logo"></a>
                <h1>{{ site.name }}</h1>
              </div>

              <ul class="col-md-4 col-md-offset-4 col-sm-offset-7 hidden-xs">

                <!-- <li><a href="http://en.wikibooks.org/wiki/Seed_Factories" class="book_link"><i class="fa fa-book"></i></a></li>
                <li><a href="https://github.com/seed-factory-project" class="ghb_link"><i class="fa fa-github-alt"></i></a></li>
                <li><a href="https://twitter.com/seedfactory_p" class="twtr_link"><i class="fa fa-twitter"></i></a></li> -->

                <li><a href="http://en.wikibooks.org/wiki/Seed_Factories" class="book_link">WikiBook</a></li>
                <li><a href="https://github.com/seed-factory-project" class="ghb_link">Github</a></li>
                <li><a href="{{ site.baseurl }}/blog.html" class="blog_link">Blog</a></li>

              </ul>
            </div>
          </div>
        </header>

        <main>

          {{ content }}

        </main>

        <footer class="page_spacing contact_theme" id="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <figure>
                  <img src="{{ site.baseurl }}/img/brand_s.png" alt="Seed Factory Project Logo">
                  <h3>The<br/>Seed<br/>Factory</br>Project</h3>
                  <p>&copy; {{ site.name }} 2014</p>
                </figure>
              </div>
              <div class="col-md-5 col-md-offset-3 col-sm-6 col-xs-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <h4>Contact</h4>
                    <ul class="linkbox">
                      <a href="mailto:info@seed-factory.info">info@seed-factory.info</a>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-4">
                    <h4>Info</h4>
                    <ul class="linkbox">
                      <a href="/blog.html">Blog</a>
                      <a href="http://en.wikibooks.org/wiki/Seed_Factories" class="book_link">WikiBook</a>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-4">
                    <h4>Social</h4>
                    <ul class="linkbox">
                      <a href="https://github.com/seed-factory-project">Github</a>
                      <a href="https://twitter.com/seedfactory_p">Twitter</a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>

        <!-- Vendor JS -->
        <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Custom JS -->
        <script src="{{ site.baseurl }}/js/main.js"></script>

    </body>
</html>
